name: Release - 5.0-beta

on:
  push:
    branches:
      - 5.0-beta
    paths-ignore:
      - '*.md'
jobs:
  release_package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Build ZIP package
        run: python build/create_zip.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: toolkit
          path: output/

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          prerelease: true              # because it's a beta branch
          artifacts: "output/*"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "beta-${{ github.run_number }}"
          name: "5.0-beta Release ${{ github.run_number }}"
          body: "Automated release for branch 5.0-beta."